streamlit

# Utilities
numpy
pandas
pillow
scikit-learn

# Face Recognition
cmake
dlib
face_recognition
git+https://github.com/ageitgey/face_recognition_models

# Backend
supabase
bcrypt

# QR
segno

# Audio
librosa
resemblyzer

# Compatibility
setuptools<70