streamlit
# Utilitites 
numpy
pandas

# FACE RECOGNITION
scikit-learn
dlib-bin #points face detectionpython -m pip install dlib-19.24.99-cp312-cp312-win_amd64.whl
git+https://github.com/ageitgey/face_recognition_models
setuptools<70.0.0


supabase
bcrypt



segno #qrcode generation
pillow #image processing


streamlit

librosa #files edit,modification(audio)
resemblyzer#speaker verification, voice embedding