streamlit

numpy
pandas

scikit-learn

cmake
dlib
face_recognition_models @ git+https://github.com/ageitgey/face_recognition_models

supabase==2.10.0
bcrypt

segno
pillow

librosa
resemblyzer

setuptools<70